<form [formGroup]="userRegistrationForm" (ngSubmit)="onSubmit()">
    <div *ngIf="userCreated" class="container">
        <div class="alert alert-success" role="alert">
            <h4>Success</h4>
            <p>User Created Succesfully!!!</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <label for="firstName">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" placeholder="Please Enter First Name">
        </div>

        <div class="row">
            <label for="lastName">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" placeholder="Please Enter Last Name">
        </div>

        <div class="row">
            <label for="emailAddress">Email Address</label>
            <input type="text" formControlName="emailAddress" class="form-control" placeholder="Please Enter Email Address">
        </div>

        <div class="row">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" placeholder="Please Enter Password">
        </div>

        <div class="row">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Please Re-enter the Password">
        </div>
        <br>
        <div class="row">
            <button [disabled]="!userRegistrationForm.valid" class="btn btn-success">Get Started</button>
        </div>
    </div>
</form>