/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.default-label{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;
}

.error-text{
    color: red;
    font-display: inherit;
    font-size: 12px;
}

.clearfix{
   margin-top: 20px;
}
