
    .header{
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(src\assets\images\home.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
    }